{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-4">
		<h1>Editer les propriétaires</h1>
		{{ include('admin/property/owner/_form.html.twig', {button: 'Editer'}) }}
	</div>
{% endblock %}
