{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-4">
		<h1>Créer un nouveau propriétaire</h1>
		{{ include('admin/property/owner/_form.html.twig', {button: 'Créer'}) }}
	</div>
{% endblock %}
