{% extends "base.html.twig" %}

{% block title 'Hearthstone Partners'%}

{% block body %}
     <div class="jumbotron text-center">
        <h1>Hearthstone Partners</h1>
        <p>Découvrez nos biens à vendre</p>
     </div>

     <div class="container">
        <div class="row">
           {% for property in properties %}
            <div class="col-md-4">
               {% include 'property/_property.html.twig' %}
            </div>
           {% endfor %}
        </div>

            <div class="pagination justify-content-center">
            {{ knp_pagination_render(properties) }}
            </div>
     </div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                        <div class="col-md-8">
                        
                        </div>

                        <div class="col-md-4">
                            
                        </div>
            </div>
        </div>
    </div>

      

{% endblock %}
