{% extends "base.html.twig" %}

{% block body %}
     <div class="jumbotron text-center">
        <h1>ImmoConcept</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, voluptate? A sequi possimus velit dolores tenetur ipsum suscipit aspernatur, quibusdam quaerat enim qui nesciunt maiores. Numquam voluptatibus magni in culpa?</p>
     </div>

{% endblock %}
