{% extends "base.html.twig" %}

{% block title 'Hearthstone Partners'%}


{% block body %}
	<div class="jumbotron text-center head">
		<h1 class="discover">QUI SOMME NOUS</h1>
		<p>Hearthstone Partner's est un cabinet de réseau couvrant tous 
																																	        les aspects de l’immobilier, du primo-accédant au tertiaire en passant 
																																	        par le résidentiel de luxe et l’investissement. Ayant conscience qu’un investissement 
																																	        immobilier peut être complexe et décisif, nous vous offrons un travail sur-mesure. 
																																	        Nous vous accompagnons tout au long du processus de vente jusqu’à la remise des clés 
																																	        en proposant les services de partenaires sélectionnés : le réseau Hearthstone Partner's. 
																																	        Notre spécialité est le « OFF MARKET » : nos consultants sont à votre écoute pour vendre 
																																	        votre bien ou vous trouver le bien qui vous correspond.</p>
	</p>
</div>

<div class="jumbotron text-center head" style="background-color: #9CB3AB;">

	<p>Hearthstone Partner's est un cabinet de réseau couvrant tous 
																																	        les aspects de l’immobilier, du primo-accédant au tertiaire en passant 
																																	        par le résidentiel de luxe et l’investissement. Ayant conscience qu’un investissement 
																																	        immobilier peut être complexe et décisif, nous vous offrons un travail sur-mesure. 
																																	        Nous vous accompagnons tout au long du processus de vente jusqu’à la remise des clés 
																																	        en proposant les services de partenaires sélectionnés : le réseau Hearthstone Partner's. 
																																	        Notre spécialité est le « OFF MARKET » : nos consultants sont à votre écoute pour vendre 
																																	        votre bien ou vous trouver le bien qui vous correspond.</p>
</p></div>{% endblock %}
